{% extends "views/layouts/index.njk" %}

{% block body %}
  <h2 class="has-text-centered is-size-2">Add a new reservation</h2>
  {% include "reservation/views/layouts/reservation-form.njk" %}
{% endblock %}