{% extends "views/layouts/index.njk" %}

{% block body %}
  <h2 class="is-size-2 has-text-centered mb-1"> Do you want to delete the car #{{car.id}}</h2>

  <form class="has-text-centered" method="POST" action={{"/car/delete/" + car.id}}>
    <a class="button is-rounded is-dark is-outlined" href='/car'>Cancel</a>
    <button type="submit" class="button is-rounded is-danger is-outlined">Delete</button>
  </form>
{% endblock %}